@font-face {
    font-family: "Inter-Regular";
    src: url(../fonts/Inter-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Cardo-Regular";
    src: url(../fonts/Cardo-Regular.ttf);
    font-weight: 400;
}